.image-list-table{
    width: 70px;
    height: 70px;
    object-fit: contain;
}
.image-add-form{
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.image-success{
    width: 100px;
    height: 100px;
    object-fit: cover;
}